:root {
  /* orange */
  --ads-color-orange-900: #b7491a;
  --ads-color-orange-800: #d15420; /* Secondary */
  --ads-color-orange-700: #df5b23;
  --ads-color-orange-600: #ed6227;
  --ads-color-orange-500: #f86a2b; /* Primary */
  --ads-color-orange-400: #f97d4a;
  --ads-color-orange-300: #f9936b;
  --ads-color-orange-200: #fbb195;
  --ads-color-orange-100: #fccfbf;
  --ads-color-orange-50: #faeae8;

  /* black */
  --ads-color-black: #000000;
  --ads-color-black-900: #191919;
  --ads-color-black-850: #302d2d;
  --ads-color-black-800: #393939;
  --ads-color-black-750: #4b4848;
  --ads-color-black-700: #575757;
  --ads-color-black-600: #6b6b6b;
  --ads-color-black-550: #716e6e;
  --ads-color-black-500: #939393;
  --ads-color-black-470: #939090;
  --ads-color-black-450: #a9a7a7;
  --ads-color-black-400: #b3b3b3;
  --ads-color-black-300: #d7d7d7;
  --ads-color-black-250: #e0dede;
  --ads-color-black-200: #e7e7e7;
  --ads-color-black-100: #f1f1f1;
  --ads-color-black-75: #f0f0f0;
  --ads-color-black-50: #f8f8f8;
  --ads-color-black-25: #f7f7f7;
  --ads-color-black-5: #fafafa;
  --ads-color-black-0: #ffffff;

  --ads-color-blue-150: #6a86ce;

  /* green */
  --ads-color-green-500: #03b364;
  --ads-color-green-50: #e5f6ec;

  /* yellow */
  --ads-color-yellow-500: #fec518;
  --ads-color-yellow-50: #fff8e2;

  /* red */
  --ads-color-red-900: #ff0000;
  --ads-color-red-500: #f13125;
  --ads-color-red-50: #ffeaec;

  /*  Old colors */
  /* TODO: These should go away or be renamed when the more comprehensive color palate is here */
  --ads-old-color-gray-7: #858282;
  --ads-old-color-gray-10: #090707;

  --ads-old-color-fern-green: #50af6c;
  --ads-old-color-jagged-ice: #caecdc;
  --ads-old-color-blue-gray: #43464a;
  --ads-old-color-outer-space: #363e44;

  --ads-old-color-hot-cinnamon: #dc5b21;
  --ads-old-color-rock-spray: #bf4109;
  --ads-old-color-bridesmaid: #feede5;
  --ads-old-color-pot-pourri: #f7ebe6;

  --ads-old-color-jade: #03b365;
  --ads-old-color-fun-green: #007340;
  --ads-old-color-fun-green-2: #00693b;
  --ads-old-color-granny-apple: #cbf4e2;

  --ads-old-color-foam: #d9fded;
  --ads-old-color-sun: #feb811;
  --ads-old-color-yellow-sea: #efa903;
  --ads-old-color-champagne: #fbeed0;

  --ads-old-color-early-dawn: #fffae9;
  --ads-old-color-dove-gray: #6d6d6d;
  --ads-old-color-pomegranate: #f22b2b;
  --ads-old-color-milano-red: #b90707;

  --ads-old-color-milano-red-2: #c60707;
  --ads-old-color-cinderella: #fde4e4;
  --ads-old-color-fair-pink: #ffe9e9;
  --ads-old-color-pale-blue: #e8f5fa;

  --ads-old-color-mid-gray: #606065;
  --ads-old-color-gallery: #ededed;
  --ads-old-color-linen: #fdfaf2;
  --ads-old-color-buddha-gold: #d2a500;

  --ads-old-color-alto: #d4d4d4;
  --ads-old-color-gallery-2: #ebebeb;
  --ads-old-color-mercury: #e8e8e8;
  --ads-old-color-pure-black: #000000;

  --ads-old-color-burning-orange: #ff7742;
  --ads-old-color-curious-blue: #1d9bd1;
  --ads-old-color-dove-gray-2: #716e6e;
  --ads-old-color-pigeon-post: #aebad9;

  --ads-old-color-royal-blue: #457ae6;
  --ads-old-color-silver: #c4c4c4;
  --ads-old-color-dove-gray-3: #6f6f6f;
  --ads-old-color-crusta: #f86a2b;

  --ads-old-color-black-pearl: #040627;
  --ads-old-color-cornflower-blue: #6871ef;
  --ads-old-color-jaffa: #f2994a;
  --ads-old-color-enterprise-dark: #00407d;

  /* Colors with opacity */
  --ads-old-color-black-750-opacity-50: #4b484880;
  --ads-old-color-alto-opacity-50: #d4d4d480;
  --ads-old-color-white-opacity-50: #ffffff80;
  --ads-old-color-gray-10-opacity-50: #09070780;
  --ads-old-color-danger-red-opacity-80: #e22c2c14;
  --ads-old-color-warning-opacity-80: #e0b30e14;

  /* intent colors */
  --ads-old-color-danger-red: #e22c2c;
  --ads-old-color-warning: #e0b30e;
  --ads-old-warning-600: #dfa211;
  --ads-old-error-600: #e32525;
  --ads-old-color-black: #000000;

  --ads-orange-accent: #ffefdb;
  
    --ds-text-accent-blue: #0055CC;
  --ds-text-accent-blue-bolder: #09326C;
  --ds-text-accent-red: #AE2A19;
  --ds-text-accent-red-bolder: #601E16;
  --ds-text-accent-orange: #974F0C;
  --ds-text-accent-orange-bolder: #5F3811;
  --ds-text-accent-yellow: #7F5F01;
  --ds-text-accent-yellow-bolder: #533F04;
  --ds-text-accent-green: #216E4E;
  --ds-text-accent-green-bolder: #164B35;
  --ds-text-accent-purple: #5E4DB2;
  --ds-text-accent-purple-bolder: #352C63;
  --ds-text-accent-teal: #206B74;
  --ds-text-accent-teal-bolder: #1D474C;
  --ds-text-accent-magenta: #943D73;
  --ds-text-accent-magenta-bolder: #50253F;
  --ds-text-accent-gray: #44546F;
  --ds-text-accent-gray-bolder: #172B4D;
  --ds-text: #172B4D;
  --ds-text-subtle: #44546F;
  --ds-text-subtlest: #626F86;
  --ds-text-disabled: #091E424F;
  --ds-text-inverse: #FFFFFF;
  --ds-text-brand: #0C66E4;
  --ds-text-selected: #0C66E4;
  --ds-text-danger: #AE2A19;
  --ds-text-warning: #974F0C;
  --ds-text-warning-inverse: #172B4D;
  --ds-text-success: #216E4E;
  --ds-text-discovery: #5E4DB2;
  --ds-text-information: #0055CC;
  --ds-text-highEmphasis: #172B4D;
  --ds-text-link-pressed: #0055CC;
  --ds-text-link-resting: #0C66E4;
  --ds-text-lowEmphasis: #626F86;
  --ds-text-mediumEmphasis: #44546F;
  --ds-text-onBold: #FFFFFF;
  --ds-text-onBoldWarning: #172B4D;
  --ds-icon-accent-blue: #1D7AFC;
  --ds-icon-accent-red: #E34935;
  --ds-icon-accent-orange: #D97008;
  --ds-icon-accent-yellow: #B38600;
  --ds-icon-accent-green: #22A06B;
  --ds-icon-accent-purple: #8270DB;
  --ds-icon-accent-teal: #1D9AAA;
  --ds-icon-accent-magenta: #CD519D;
  --ds-icon-accent-gray: #758195;
  --ds-icon: #44546F;
  --ds-icon-subtle: #626F86;
  --ds-icon-inverse: #FFFFFF;
  --ds-icon-disabled: #091E424F;
  --ds-icon-brand: #0C66E4;
  --ds-icon-selected: #0C66E4;
  --ds-icon-danger: #E34935;
  --ds-icon-warning: #D97008;
  --ds-icon-warning-inverse: #172B4D;
  --ds-icon-success: #22A06B;
  --ds-icon-discovery: #8270DB;
  --ds-icon-information: #1D7AFC;
  --ds-border-accent-blue: #1D7AFC;
  --ds-border-accent-red: #E34935;
  --ds-border-accent-orange: #D97008;
  --ds-border-accent-yellow: #B38600;
  --ds-border-accent-green: #22A06B;
  --ds-border-accent-purple: #8270DB;
  --ds-border-accent-teal: #1D9AAA;
  --ds-border-accent-magenta: #CD519D;
  --ds-border-accent-gray: #758195;
  --ds-border: #091E4224;
  --ds-border-bold: #758195;
  --ds-border-inverse: #FFFFFF;
  --ds-border-focused: #388BFF;
  --ds-border-input: #091E4224;
  --ds-border-disabled: #091E420F;
  --ds-border-brand: #0C66E4;
  --ds-border-selected: #0C66E4;
  --ds-border-danger: #E34935;
  --ds-border-warning: #D97008;
  --ds-border-success: #22A06B;
  --ds-border-discovery: #8270DB;
  --ds-border-information: #1D7AFC;
  --ds-border-focus: #388BFF;
  --ds-border-neutral: #091E4224;
  --ds-background-accent-blue-subtlest: #E9F2FF;
  --ds-background-accent-blue-subtler: #CCE0FF;
  --ds-background-accent-blue-subtle: #579DFF;
  --ds-background-accent-blue-bolder: #0C66E4;
  --ds-background-accent-blue: #CCE0FF;
  --ds-background-accent-blue-bold: #579DFF;
  --ds-background-accent-red-subtlest: #FFEDEB;
  --ds-background-accent-red-subtler: #FFD2CC;
  --ds-background-accent-red-subtle: #F87462;
  --ds-background-accent-red-bolder: #CA3521;
  --ds-background-accent-red: #FFD2CC;
  --ds-background-accent-red-bold: #F87462;
  --ds-background-accent-orange-subtlest: #FFF4E5;
  --ds-background-accent-orange-subtler: #FFE2BD;
  --ds-background-accent-orange-subtle: #FAA53D;
  --ds-background-accent-orange-bolder: #B65C02;
  --ds-background-accent-orange: #FFE2BD;
  --ds-background-accent-orange-bold: #FAA53D;
  --ds-background-accent-yellow-subtlest: #FFF7D6;
  --ds-background-accent-yellow-subtler: #F8E6A0;
  --ds-background-accent-yellow-subtle: #E2B203;
  --ds-background-accent-yellow-bolder: #946F00;
  --ds-background-accent-yellow: #F8E6A0;
  --ds-background-accent-yellow-bold: #E2B203;
  --ds-background-accent-green-subtlest: #DFFCF0;
  --ds-background-accent-green-subtler: #BAF3DB;
  --ds-background-accent-green-subtle: #4BCE97;
  --ds-background-accent-green-bolder: #1F845A;
  --ds-background-accent-green: #BAF3DB;
  --ds-background-accent-green-bold: #4BCE97;
  --ds-background-accent-teal-subtlest: #E3FAFC;
  --ds-background-accent-teal-subtler: #C1F0F5;
  --ds-background-accent-teal-subtle: #60C6D2;
  --ds-background-accent-teal-bolder: #1D7F8C;
  --ds-background-accent-teal: #C1F0F5;
  --ds-background-accent-teal-bold: #60C6D2;
  --ds-background-accent-purple-subtlest: #F3F0FF;
  --ds-background-accent-purple-subtler: #DFD8FD;
  --ds-background-accent-purple-subtle: #9F8FEF;
  --ds-background-accent-purple-bolder: #6E5DC6;
  --ds-background-accent-purple: #DFD8FD;
  --ds-background-accent-purple-bold: #9F8FEF;
  --ds-background-accent-magenta-subtlest: #FFECF8;
  --ds-background-accent-magenta-subtler: #FDD0EC;
  --ds-background-accent-magenta-subtle: #E774BB;
  --ds-background-accent-magenta-bolder: #AE4787;
  --ds-background-accent-magenta: #FDD0EC;
  --ds-background-accent-magenta-bold: #E774BB;
  --ds-background-accent-gray-subtlest: #F1F2F4;
  --ds-background-accent-gray-subtler: #DCDFE4;
  --ds-background-accent-gray-subtle: #8993A5;
  --ds-background-accent-gray-bolder: #626F86;
  --ds-background-disabled: #091E4208;
  --ds-background-inverse-subtle: #00000029;
  --ds-background-inverse-subtle-hovered: #0000003D;
  --ds-background-inverse-subtle-pressed: #00000052;
  --ds-background-inverse: #FFFFFF29;
  --ds-background-input: #FFFFFF;
  --ds-background-input-hovered: #F7F8F9;
  --ds-background-input-pressed: #FFFFFF;
  --ds-background-neutral: #091E420F;
  --ds-background-neutral-hovered: #091E4224;
  --ds-background-neutral-pressed: #091E424F;
  --ds-background-neutral-subtle: #00000000;
  --ds-background-neutral-subtle-hovered: #091E420F;
  --ds-background-neutral-subtle-pressed: #091E4224;
  --ds-background-neutral-bold: #44546F;
  --ds-background-neutral-bold-hovered: #2C3E5D;
  --ds-background-neutral-bold-pressed: #172B4D;
  --ds-background-brand-bold: #0C66E4;
  --ds-background-brand-bold-hovered: #0055CC;
  --ds-background-brand-bold-pressed: #09326C;
  --ds-background-brand: #E9F2FF;
  --ds-background-brand-hovered: #CCE0FF;
  --ds-background-brand-pressed: #85B8FF;
  --ds-background-selected: #E9F2FF;
  --ds-background-selected-hovered: #CCE0FF;
  --ds-background-selected-pressed: #85B8FF;
  --ds-background-selected-bold: #0C66E4;
  --ds-background-selected-bold-hovered: #0055CC;
  --ds-background-selected-bold-pressed: #09326C;
  --ds-background-selected-resting: #E9F2FF;
  --ds-background-selected-hover: #CCE0FF;
  --ds-background-danger: #FFEDEB;
  --ds-background-danger-hovered: #FFD2CC;
  --ds-background-danger-pressed: #FF9C8F;
  --ds-background-danger-bold: #CA3521;
  --ds-background-danger-bold-hovered: #AE2A19;
  --ds-background-danger-bold-pressed: #601E16;
  --ds-background-warning: #FFF7D6;
  --ds-background-warning-hovered: #F8E6A0;
  --ds-background-warning-pressed: #F5CD47;
  --ds-background-warning-bold: #E2B203;
  --ds-background-warning-bold-hovered: #CF9F02;
  --ds-background-warning-bold-pressed: #B38600;
  --ds-background-success: #DFFCF0;
  --ds-background-success-hovered: #BAF3DB;
  --ds-background-success-pressed: #7EE2B8;
  --ds-background-success-bold: #1F845A;
  --ds-background-success-bold-hovered: #216E4E;
  --ds-background-success-bold-pressed: #164B35;
  --ds-background-discovery: #F3F0FF;
  --ds-background-discovery-hovered: #DFD8FD;
  --ds-background-discovery-pressed: #B8ACF6;
  --ds-background-discovery-bold: #6E5DC6;
  --ds-background-discovery-bold-hovered: #5E4DB2;
  --ds-background-discovery-bold-pressed: #352C63;
  --ds-background-information: #E9F2FF;
  --ds-background-information-hovered: #CCE0FF;
  --ds-background-information-pressed: #85B8FF;
  --ds-background-information-bold: #0C66E4;
  --ds-background-information-bold-hovered: #0055CC;
  --ds-background-information-bold-pressed: #09326C;
  --ds-background-blanket: #091E427A;
  --ds-background-boldBrand-hover: #0055CC;
  --ds-background-boldBrand-pressed: #09326C;
  --ds-background-boldBrand-resting: #0C66E4;
  --ds-background-boldDanger-hover: #AE2A19;
  --ds-background-boldDanger-pressed: #601E16;
  --ds-background-boldDanger-resting: #CA3521;
  --ds-background-boldDiscovery-hover: #5E4DB2;
  --ds-background-boldDiscovery-pressed: #352C63;
  --ds-background-boldDiscovery-resting: #6E5DC6;
  --ds-background-boldNeutral-hover: #2C3E5D;
  --ds-background-boldNeutral-pressed: #172B4D;
  --ds-background-boldNeutral-resting: #44546F;
  --ds-background-boldSuccess-hover: #216E4E;
  --ds-background-boldSuccess-pressed: #164B35;
  --ds-background-boldSuccess-resting: #1F845A;
  --ds-background-boldWarning-hover: #CF9F02;
  --ds-background-boldWarning-pressed: #B38600;
  --ds-background-boldWarning-resting: #E2B203;
  --ds-background-card: #FFFFFF;
  --ds-background-default: #FFFFFF;
  --ds-background-overlay: #FFFFFF;
  --ds-background-subtleBorderedNeutral-pressed: #091E420F;
  --ds-background-subtleBorderedNeutral-resting: #091E4208;
  --ds-background-subtleBrand-hover: #CCE0FF;
  --ds-background-subtleBrand-pressed: #85B8FF;
  --ds-background-subtleBrand-resting: #E9F2FF;
  --ds-background-subtleDanger-hover: #FFD2CC;
  --ds-background-subtleDanger-pressed: #FF9C8F;
  --ds-background-subtleDanger-resting: #FFEDEB;
  --ds-background-subtleDiscovery-hover: #DFD8FD;
  --ds-background-subtleDiscovery-pressed: #B8ACF6;
  --ds-background-subtleDiscovery-resting: #F3F0FF;
  --ds-background-subtleNeutral-hover: #091E4224;
  --ds-background-subtleNeutral-pressed: #091E424F;
  --ds-background-subtleNeutral-resting: #091E420F;
  --ds-background-subtleSuccess-hover: #BAF3DB;
  --ds-background-subtleSuccess-pressed: #7EE2B8;
  --ds-background-subtleSuccess-resting: #DFFCF0;
  --ds-background-subtleWarning-hover: #F8E6A0;
  --ds-background-subtleWarning-pressed: #F5CD47;
  --ds-background-subtleWarning-resting: #FFF7D6;
  --ds-background-sunken: #091E4208;
  --ds-background-transparentNeutral-hover: #091E420F;
  --ds-background-transparentNeutral-pressed: #091E4224;
  --ds-blanket: #091E427A;
  --ds-blanket-selected: #388BFF14;
  --ds-blanket-danger: #EF5C4814;
  --ds-interaction-hovered: #00000029;
  --ds-interaction-pressed: #00000052;
  --ds-interaction-inverse-hovered: #00000029;
  --ds-interaction-inverse-pressed: #00000052;
  --ds-skeleton: #091E420F;
  --ds-skeleton-subtle: #091E4208;
  --ds-link: #0C66E4;
  --ds-link-pressed: #0055CC;
  --ds-accent-boldBlue: #579DFF;
  --ds-accent-boldGreen: #4BCE97;
  --ds-accent-boldOrange: #FAA53D;
  --ds-accent-boldPurple: #9F8FEF;
  --ds-accent-boldRed: #F87462;
  --ds-accent-boldTeal: #60C6D2;
  --ds-accent-subtleBlue: #CCE0FF;
  --ds-accent-subtleGreen: #BAF3DB;
  --ds-accent-subtleMagenta: #FDD0EC;
  --ds-accent-subtleOrange: #FFE2BD;
  --ds-accent-subtlePurple: #DFD8FD;
  --ds-accent-subtleRed: #FFD2CC;
  --ds-accent-subtleTeal: #C1F0F5;
  --ds-iconBorder-brand: #1D7AFC;
  --ds-iconBorder-danger: #E34935;
  --ds-iconBorder-discovery: #8270DB;
  --ds-iconBorder-success: #22A06B;
  --ds-iconBorder-warning: #D97008;
  --ds-overlay-hover: #091E424F;
  --ds-overlay-pressed: #091E427A;
  --ds-card: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;
  --ds-overlay: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
  --ds-shadow-raised: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;
  --ds-shadow-overflow: 0px 0px 8px #091E4229, 0px 0px 1px #091E421F;
  --ds-shadow-overflow-spread: #091e4229;
  --ds-shadow-overflow-perimeter: #091e421f;
  --ds-shadow-overlay: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
  --ds-surface: #FFFFFF;
  --ds-surface-hovered: #F1F2F4;
  --ds-surface-pressed: #DCDFE4;
  --ds-surface-sunken: #F7F8F9;
  --ds-surface-raised: #FFFFFF;
  --ds-surface-raised-hovered: #F1F2F4;
  --ds-surface-raised-pressed: #DCDFE4;
  --ds-surface-overlay: #FFFFFF;
  --ds-surface-overlay-hovered: #F1F2F4;
  --ds-surface-overlay-pressed: #DCDFE4;
  --ds-opacity-disabled: 0.4;
  --ds-opacity-loading: 0.2;
  --ds-UNSAFE_util-transparent: transparent;
  --ds-UNSAFE_util-MISSING_TOKEN: #FA11F2;
}
